<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="blog-input">
    <button
      type="submit"
      class="submit-button"
      mat-raised-button
      color="primary"
    >
      Publish blog
    </button>
    <button type="reset" mat-raised-button color="secondary">Reset</button>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error>
        @if (form.get("title")?.hasError("required")) {
          Title should not be empty
        }
        @if (form.get("title")?.hasError("pattern")) {
          Not a valid title
        }
        @if (form.get("title")?.hasError("custom")) {
          Custom error message
        }
        @if (form.get("title")?.hasError("customAsync")) {
          Custom async error message
        }
        <span></span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tell your story...</mat-label>
      <textarea matInput rows="20" formControlName="content"></textarea>
      <mat-error>Content should not be empty</mat-error>
    </mat-form-field>
  </div>
</form>
